<h2>10 Apartamentos a venda em São Paulo - SP</h2>
<div class="list">
    <div class="content">
        <div class="prop" *ngFor="let item of list">
            <div id="carouselMove1" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-slide-to="0" class="active"></li>
                    <li data-slide-to="1"></li>
                    <li data-slide-to="2"></li>
                </ol>
                
                <div class="carousel-inner" routerLink="/detalhes/1">
                    <div class="carousel-item active">
                        <img class="prop-img" src="../assets/img/prop-1.jpg">
                    </div>
                    <div class="carousel-item">
                        <img class="prop-img" src="../assets/img/prop-2.jpg">
                    </div>
                    <div class="carousel-item">
                        <img class="prop-img" src="../assets/img/prop-3.jpg">
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carouselMove1" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carouselMove1" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
            <div class="prop-text" routerLink="/detalhes/1">
                <p class="region-text">Moema</p>
                <p class="info-text" id="info-text-01">Apartamento com 3 quartos à Venda</p>
                <p class="info-text" id="info-text-02">80m² - 3 Quartos - Apartamento</p>
                <p class="price-text">R$ 850.000,00</p>
            </div>
        </div>
    </div>
</div>





